<html>
<body>



{{^user}}
<p>LOG IN</p>


    <!--
    Form to enter username and password
    Submit button

    Find out how to either
    {{#error}}Catch an error that is added to model for "Incorrect password"{{/error}}
    or
    redirect here with "Incorrect password
    -->
<form action="/login" method="post"> 
    <input type="text" placeholder="Enter your name" name="userName"/> 
    <button type="submit">Login</button>
</form>


{{/user}}

{{#user}}
    Welcome, {{.}}!

    {{^notes}}
        No notes to display!
    {{/notes}}

    {{#notes}}
        {{user}}'s Notes:

    {{/notes}}
{{/user}}

<p>ALL NOTES</p>
</body>
</html>